@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

body {
  font-family: "Hind", sans-serif;
}

main {
  margin-top: 80px;
}
main .main__content {
  max-width: 1010px;
  padding: 0 80px;
}
main .main__content .main__title {
  font-family: "Overpass", sans-serif;
  color: #8B96AC;
  font-size: 96px;
  font-weight: 700;
  line-height: 110%;
}
main .main__content .main__title span {
  color: #2A3B53;
}
main .main__content .main__subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #8B96AC;
  padding-left: 6px;
}
main .main__content .form {
  margin-top: 60px;
  max-width: 560px;
}
main .main__content .form .form__fields label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
main .main__content .form .form__fields label:last-child {
  margin-bottom: 0;
}
main .main__content .form .form__fields label input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #5B6C8C;
  outline: none;
  background: none;
  padding: 12px 20px;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.96px;
  color: #2A3B53;
}
main .main__content .form .form__fields label input::placeholder {
  color: #8B96AC;
}
main .main__content .form .form__fields label input._error {
  border-bottom: 1px solid #BA5B5B;
}
main .main__content .form .form__fields label .empty__message, main .main__content .form .form__fields label .empty__message__email, main .main__content .form .form__fields label .empty__message__phone {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #BA5B5B;
  padding-top: 6px;
  display: none;
}
main .main__content .form .form__fields label._error .empty__message {
  display: block;
}
main .main__content .form .form__fields label._error-email .empty__message__email {
  display: block;
}
main .main__content .form .form__fields label._error-phone .empty__message__phone {
  display: block;
}
main .main__content .form .form__fields .password__label {
  position: relative;
}
main .main__content .form .form__fields .password__label #Eye {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
main .main__content .form .form__fields .password__label #Eye .eye__off {
  display: none;
}
main .main__content .form .form__fields .password__label #Eye.off .eye__on {
  display: none;
}
main .main__content .form .form__fields .password__label #Eye.off .eye__off {
  display: block;
}
main .main__content .form .form__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
main .main__content .form .form__controls .checkbox .checkbox__input {
  display: none;
}
main .main__content .form .form__controls .checkbox .checkbox__input:checked + .checkbox__label::before {
  background: url("../img/on.svg");
}
main .main__content .form .form__controls .checkbox .checkbox__label {
  user-select: none;
  cursor: pointer;
  color: #8B96AC;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.72px;
  padding-left: 30px;
  position: relative;
}
main .main__content .form .form__controls .checkbox .checkbox__label a {
  color: #5B6C8C;
  text-decoration: underline !important;
}
main .main__content .form .form__controls .checkbox .checkbox__label:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: -2px;
  background: url("../img/off.svg");
}
main .main__content .form .form__controls .checkbox .empty__message {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #BA5B5B;
  padding-top: 6px;
  display: none;
}
main .main__content .form .form__controls .checkbox._error .empty__message {
  display: block;
}
main .main__content .form .form__controls .form__btn .send-form {
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  color: #2A3B53;
  background: none;
  outline: none;
  border: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0 8px;
  position: relative;
}
main .main__content .form .form__controls .form__btn .send-form:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #5879EF;
  border-radius: 1000px;
}

@media (max-width: 900px) {
  main {
    margin-top: 40px;
  }
  main .main__content {
    padding: 0 20px;
  }
  main .main__content .main__title {
    font-size: 56px;
    max-width: 450px;
  }
}
@media (max-width: 900px) and (max-width: 450px) {
  main .main__content .main__title {
    font-size: 36px;
  }
}
@media (max-width: 900px) {
  main .main__content .main__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #8B96AC;
    padding-left: 6px;
  }
}
@media (max-width: 900px) {
  main .main__content .form {
    margin-top: 20px;
  }
  main .main__content .form .form__fields label {
    margin-bottom: 20px;
  }
  main .main__content .form .form__fields label:last-child {
    margin-bottom: 0;
  }
  main .main__content .form .form__fields label input {
    padding: 8px 15px;
    font-size: 16px;
  }
  main .main__content .form .form__fields .password__label #Eye {
    top: 10px;
  }
  main .main__content .form .form__controls {
    flex-wrap: wrap;
  }
  main .main__content .form .form__controls .checkbox {
    width: 100%;
  }
  main .main__content .form .form__controls .checkbox .checkbox__input {
    display: none;
  }
  main .main__content .form .form__controls .checkbox .checkbox__input:checked + .checkbox__label::before {
    background: url("../img/on.svg");
  }
  main .main__content .form .form__controls .checkbox .checkbox__label {
    display: block;
    user-select: none;
    cursor: pointer;
    color: #8B96AC;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.72px;
    padding-left: 30px;
    position: relative;
  }
  main .main__content .form .form__controls .checkbox .checkbox__label a {
    color: #5B6C8C;
    text-decoration: underline !important;
  }
  main .main__content .form .form__controls .checkbox .checkbox__label:before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: -2px;
    background: url("../img/off.svg");
  }
  main .main__content .form .form__controls .form__btn {
    width: 100%;
    margin-top: 20px;
  }
  main .main__content .form .form__controls .form__btn .send-form {
    width: 100%;
    cursor: pointer;
    font-family: "Overpass", sans-serif;
    color: #2A3B53;
    background: none;
    outline: none;
    border: none;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 0 8px;
    position: relative;
  }
  main .main__content .form .form__controls .form__btn .send-form:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #5879EF;
    border-radius: 1000px;
  }
}

/*# sourceMappingURL=main.css.map */
